<h2>Listing tabs</h2>


<%= render :inline => datatable(nil, {:ajax_source => "#{datatable_ds_tabs_path(:d => @d.id)}", :processing => image_tag("datatable_spinner.gif") }) %>

<table id="<%= @d.id %>" class="datatable">
  <thead>
  <tr>
    <th>Slug</th>
    <th>Name</th>
    <th>Parent Tab</th>
    <th>Position</th>
    <th style="width:5%;">Move</th>
    <th style="width:5%;">Op.</th>
  </tr>
  </thead>
  <tbody></tbody>
</table>
<br />

<%= link_to 'New Tab', new_ds_tab_path(:d => @d.id) %>
