<% @d.ds_elements.each do |element| %>
<p>
  <%= form_record_element.label element.name %>
  <% if element.type == "File" || element.type == "Image" %>
  	<%= form_record_element.file_field element.key %>
  <% else %>
  	<%= form_record_element.text_field element.key %>
  <% end %>
</p>
<% end %>
