<h4><%= t ".title_list_ds"%></h4>

<%= render :inline => datatable(nil, {:ajax_source => "#{datatable_ds_path}"}) %>

<table id="datasource" class="datatable">
  <thead>
    <tr>
    	<th>Key(Unique)</th>
    	<th>Name</th>
      <th>DataSource Type</th>
      <th>View Type</th>
      <th>Log Time</th>
      <th>Field Count</th>
      <th>Op.</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<br />

<%= link_to 'New DataSource', new_d_path %>
