#toolbar {
  padding: 10px 4px;
}

/* editors */
#quicktags {
  border-color: #dfdfdf;
  background-color: #dfdfdf;
  background-image: url("../images/ed-bg.gif");
}

#ed_toolbar input {
  border-color: #C3C3C3;
}

#ed_toolbar input:hover {
  border-color: #aaa;
  background: #ddd;
}

#poststuff .wp_themeSkin .mceStatusbar {
  border-color: #EDEDED;
}

#poststuff #edButtonPreview,
#poststuff #edButtonHTML {
  background-color: #f1f1f1;
  border-color: #dfdfdf;
  color: #999;
}

#poststuff #editor-toolbar .active {
  border-bottom-color: #e9e9e9;
  background-color: #e9e9e9;
  color: #333;
}

/* TinyMCE */
#post-status-info {
  background-color: #EDEDED;
}

.wp_themeSkin *,
.wp_themeSkin a:hover,
.wp_themeSkin a:link,
.wp_themeSkin a:visited,
.wp_themeSkin a:active {
   color: #000;
}

/* Containers */
.wp_themeSkin iframe {
  background: #fff;
}

/* Layout */
.wp_themeSkin .mceStatusbar {
  color: #000;
  background-color: #f5f5f5;
}

/* Button */
.wp_themeSkin .mceButton {
  background-color: #e9e8e8;
  border-color: #B2B2B2;
}

.wp_themeSkin a.mceButtonEnabled:hover,
.wp_themeSkin a.mceButtonActive,
.wp_themeSkin a.mceButtonSelected {
  background: #d5d5d5;
  border-color: #777 !important;
}

.wp_themeSkin .mceButtonDisabled {
  border-color: #ccc !important;
}

/* ListBox */
.wp_themeSkin .mceListBox .mceText,
.wp_themeSkin .mceListBox .mceOpen  {
  border-color: #B2B2B2;
  background-color: #d5d5d5;
}

.wp_themeSkin table.mceListBoxEnabled:hover .mceOpen,
.wp_themeSkin .mceListBoxHover .mceOpen,
.wp_themeSkin .mceListBoxSelected .mceOpen,
.wp_themeSkin .mceListBoxSelected .mceText {
  border-color: #777 !important;
  background-color: #d5d5d5;
}

.wp_themeSkin table.mceListBoxEnabled:hover .mceText,
.wp_themeSkin .mceListBoxHover .mceText {
  border-color: #777 !important;
}

.wp_themeSkin select.mceListBox {
  border-color: #B2B2B2;
  background-color: #fff;
}

/* SplitButton */
.wp_themeSkin .mceSplitButton a.mceAction,
.wp_themeSkin .mceSplitButton a.mceOpen {
  border-color: #B2B2B2;
}

.wp_themeSkin .mceSplitButton a.mceOpen:hover,
.wp_themeSkin .mceSplitButtonSelected a.mceOpen,
.wp_themeSkin table.mceSplitButtonEnabled:hover a.mceAction,
.wp_themeSkin .mceSplitButton a.mceAction:hover {
  background-color: #d5d5d5;
  border-color: #777 !important;
}

.wp_themeSkin .mceSplitButtonActive {
  background-color: #B2B2B2;
}

/* ColorSplitButton */
.wp_themeSkin div.mceColorSplitMenu table {
  background-color: #ebebeb;
  border-color: #B2B2B2;
}

.wp_themeSkin .mceColorSplitMenu a {
  border-color: #B2B2B2;
}

.wp_themeSkin .mceColorSplitMenu a.mceMoreColors {
  border-color: #fff;
}

.wp_themeSkin .mceColorSplitMenu a.mceMoreColors:hover {
  border-color: #0A246A;
  background-color: #B6BDD2;
}

.wp_themeSkin a.mceMoreColors:hover {
  border-color: #0A246A;
}

/* Menu */
.wp_themeSkin .mceMenu {
  border-color: #ddd;
}

.wp_themeSkin .mceMenu table {
  background-color: #ebeaeb;
}

.wp_themeSkin .mceMenu .mceText {
  color: #000;
}

.wp_themeSkin .mceMenu .mceMenuItemEnabled a:hover,
.wp_themeSkin .mceMenu .mceMenuItemActive {
  background-color: #f5f5f5;
}
.wp_themeSkin td.mceMenuItemSeparator {
  background-color: #aaa;
}
.wp_themeSkin .mceMenuItemTitle a {
  background-color: #ccc;
  border-bottom-color: #aaa;
}
.wp_themeSkin .mceMenuItemTitle span.mceText {
  color: #000;
}
.wp_themeSkin .mceMenuItemDisabled .mceText {
  color: #888;
}

.wp_themeSkin tr.mceFirst td.mceToolbar {
  background: #dfdfdf url("../images/ed-bg.gif") repeat-x scroll left top;
  border-color: #dfdfdf;
}

.wp-admin #mceModalBlocker {
  background: #000;
}

.wp-admin .clearlooks2 .mceFocus .mceTop .mceLeft {
  background: #444444;
  border-left: 1px solid #999;
  border-top: 1px solid #999;
  -moz-border-radius: 4px 0 0 0;
  -webkit-border-top-left-radius: 4px;
  -khtml-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
}

.wp-admin .clearlooks2 .mceFocus .mceTop .mceRight {
  background: #444444;
  border-right: 1px solid #999;
  border-top: 1px solid #999;
  border-top-right-radius: 4px;
  -khtml-border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius: 0 4px 0 0;
}

.wp-admin .clearlooks2 .mceMiddle .mceLeft {
  background: #f1f1f1;
  border-left: 1px solid #999;
}

.wp-admin .clearlooks2 .mceMiddle .mceRight {
  background: #f1f1f1;
  border-right: 1px solid #999;
}

.wp-admin .clearlooks2 .mceBottom {
  background: #f1f1f1;
  border-bottom: 1px solid #999;
}

.wp-admin .clearlooks2 .mceBottom .mceLeft {
  background: #f1f1f1;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
}

.wp-admin .clearlooks2 .mceBottom .mceCenter {
  background: #f1f1f1;
  border-bottom: 1px solid #999;
}

.wp-admin .clearlooks2 .mceBottom .mceRight {
  background: #f1f1f1;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
}

.wp-admin .clearlooks2 .mceFocus .mceTop span {
  color: #e5e5e5;
}
/* end TinyMCE */

.editorcontainer {
  border-color: #dfdfdf;
  border-collapse: separate;
  border-radius: 6px 6px 0 0;
  border-style: solid;
  border-width: 1px;
  width: 90%;
}
