<div style="height:20px;">
  <h2 class="left">MariCMS (Developer View)</h2>
  <div class="right">
    <%= current_user.user_name %> |
    Switch to:<a id="userview" href="/manage">User View</a> |
    <a id="logout" href="/users/sign_out">注销</a>
  </div>
</div>
<div class="clear"/>