<div style="height:20px;">
  <h2 class="left">MariCMS (User View)</h2>
  <div class="right">
    <%= current_user.email %> |
    Switch to:<a id="userview" href="/ds">Developer View</a> |
    <a id="logout" href="/users/sign_out">注销</a>
  </div>
</div>
<div class="clear"/>