<h2>Listing pages</h2>

<%= render :inline => datatable(nil, {:ajax_source => "#{datatable_pages_path()}"}) %>

<table id="pages" class="datatable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Alias</th>
      <th>Parent</th>
      <th>Template</th>
      <th>PerPage</th>
      <th>DataSource</th>
      <th>Op.</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<br />

<%= link_to 'New Page', new_page_path %>
