<h2><%= link_to "Manage Tabs", tabs_path %></h2>
<h2><%= link_to "Manage Pages", pages_path %></h2>
<h2><%= link_to "Manage Datasources", ds_path %></h2>
<h2><%= link_to "Manage Themes", themes_path %></h2>